body{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Ubuntu Mono', monospace;
}
.note{
    background-color: beige;
    height: 300px;
    width: 300px;
}
.tools{
    background-color: rgb(17, 107, 5);
    display: flex;
   justify-content: end;
   padding: .5rem;
   margin: 2px;
}
.tools button{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    font-size: 20px;
}
.note .main{
    height: 100%;
    width:  100%;
    overflow: hidden;
    background-color: aliceblue;
}
 .note .text{
    outline: none;
    border: none;
    height: 250px;
    width: 99%;
    font-size: 1.7rem;
 }
.note .hidden{
    display: none;
}
.add button{
    position: absolute;
    left: 80rem;
    background-color: transparent;
    cursor: pointer;
}
